@import url("https://fonts.googleapis.com/css?family=Monoton|Righteous");

/*----------------- Estilização da Página---------------*/

body{
  background: url("../img/generos.png") no-repeat;
}
/*------ HEADER--------*/

#titulo {
  font-family: 'Monoton', cursive;
  font-size: 96px;
  padding: 20px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 25px;
  box-shadow: 10px 10px 8px rgb(210,105,30);
  color: #D2691E;
}

/*------FIM HEADER--------*/

/*------MAIN--------*/

main {
  padding: 20px;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: white;
}
.centro {
  background-color: rgba(210,105,30,0.9);
  border-radius: 25px;
  margin: 20px;
  box-shadow: 10px 10px 8px rgb(210,105,30), 10px 10px 8px 20px rgb(255,255,255);
}
.formulario {
  margin-top: 10px;
  margin-botton: 10px;
  font-size: 18px;
}

/*------------FIM MAIN ------------*/

/*Qualquer seletor comum*/

a {
  text-decoration: none;
  color: black;
}
