@import url("https://fonts.googleapis.com/css?family=Monoton|Righteous");

/*
#44D9DE----------------- Estilização da Página---------------*/
body{
  background: url("../img/HomePage.png") no-repeat;
  background-size: cover;
}
/*------ HEADER--------*/

#titulo {
  font-family: 'Monoton', cursive;
  font-size: 96px;
  padding: 20px;
  margin: 15px;
  letter-spacing: 5px;
  color: #F5F5F5;
}
main .desafio {
  padding-top: 50px
}

/*------FIM HEADER--------*/

/*------MAIN--------*/

.main {
  padding: 25px;
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: #F5F5F5;
}
.centro {
  border-radius: 25px;
  margin: 20px;
}
.formulario {
  margin-top: 10px;
  margin-botton: 10px;
  font-size: 18px;
  color: #585556;
}

main .desafio {
  padding-top: 50px;
}

/*------------FIM MAIN ------------*/

/*-----------------Estilo do Modal---------*/

.iziModal-content > * {
  font-family: 'Righteous', cursive;
  margin: 20px;
}

/*.iziModal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
}

.iziModal-content header {
  display: flex;
  justify-content: space-around;
}*/


/*------------Fim do Estilo Modal------------*/

/*Qualquer seletor comum*/

a {
  text-decoration: none;
  color: black;
}
